.view-prescriptions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 80px; /* Adjust as needed */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: rgb(38, 0, 255);
  margin-top: 10px;
  font-weight: bold;
}

.prescription-message {
  color: blue; /* Prescription details in blue */
  margin-top: 10px;
}

.data-message {
  color: rgb(255, 111, 0); /* "No prescriptions found" message in blue */
  margin-top: 10px;
}
