.view-prescriptions {
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 80px; /* Adjust this value to push content below the navbar */
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center; /* Center the heading */
}

.add-button {
  padding: 10px 20px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
  display: block; /* Make button a block element to center */
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
}

.add-button:hover {
  background-color: #218838;
}

.prescription-table {
  width: 100%;
  border-collapse: collapse;
}

.prescription-table th,
.prescription-table td {
  border: 5px solid #ddd;
  padding: 20px;
  text-align: left;
}

.prescription-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}
